.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}