@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*
  // <uniquifier>: Use a uniquifier for the class name
  // <weight>: Use a value from 100 to 900

  .raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DF2E63;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.loader {
  font-family: "Raleway", sans-serif;
  text-align: center; 
  font-size: 30px;
  font-weight: bold;
  margin-top: 200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: transparent;
}

header {
  background-color: transparent;
  width: 100%;
  height: auto;
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  width: auto;
  gap: 100px;
  backdrop-filter: blur(2px);
  border-radius: 30px;
  margin: 10px 0 0 0;
  padding: 0; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}



header h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
  color: #DF2E63;
}

header h1 span {
  border-radius: 50%;
  background-color: #DF2E63;
  color: #fff;
  padding: 2px 12px;
}

nav {
  width: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li {
  width: auto;
  display: inline-block;
  padding: 5px 5px 5px 0;
  margin: 0 15px 0 15px;
}

nav ul li .link {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

nav ul li .link:hover {
  color: #DF2E63;
}

nav ul li .link.active {
  color: white;
  background-color: #DF2E63;
}

.util-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.util-container .link {
  text-decoration: none;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 25px;
}

.util-container .link:hover {
  color: #DF2E63;
}

.util-container .link.active {
  color: #DF2E63;
}

.util-container:last-child {
  padding-right: 5px;
  margin-top: 4px;
}

.sider {
  position: fixed;
  right: -300px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(34, 193, 195, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 25px 0 0 25px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  padding: 0;
  transition: right 8s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
}

.sider.open {
  right: 0; 
}

.sider .close {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  font-size: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #00000098;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.sider .close:hover {
  color: #000;
  filter: drop-shadow(0 0 0.75rem #fff);
}

.sider h3 {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
  color: #000;
  padding: 5px;
  border-bottom: 1px solid #0000002a;
  filter: drop-shadow(0 0 0.75rem #fff);
  margin: 5rem 0 0 0;
  text-align: center;
}

.sider .item-container {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 2rem 1.5rem 1.5rem 1rem;
}

.sider .item-container p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

main {
  width: 100%;
  height: auto;
  min-height: 83vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 20vh;
  margin-top: 25px;
  padding: 20px 40px 20px 40px;
  width: 50%;
  height: auto;
  border-radius: 25px;
  background: rgb(223,46,99);
  background: linear-gradient(0deg, rgba(223, 46, 99, 0.4627992261357668) 0%, rgba(34, 193, 195, 0.4459925034466911) 100%);
  gap: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} 

/* .banner:first-child {
  justify-content: flex-start;
  align-items: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
} */

/* .banner:last-child {
  justify-content: flex-end;
  align-items: flex-end;
  justify-items: flex-end;
  align-items: flex-end;
} */

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  /* min-height: 20vh;
  margin-top: 25px; */
  padding: 20px 10px 20px 10px;
  width: 70%;
  height: auto;
}

.intro h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
  color: black;
  filter: drop-shadow(0 0 0.75rem #fff);
}

.intro .link {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  text-align: center;
  padding: 10px 30px;
}

.intro .link:hover {
  border: 1px solid #000;
  color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s all ease-in-out;
}

.slider {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* min-height: 20vh;
  margin-top: 25px; */
  padding: 20px 10px 20px 10px;
  width: 30%;
  height: auto;
  gap: 20px;
  /* backdrop-filter: blur(2px);
  border-radius: 25px;
  background: rgb(223,46,99);
  background: linear-gradient(0deg, rgba(223, 46, 99, 0.4627992261357668) 0%, rgba(34, 193, 195, 0.4459925034466911) 100%);
  gap: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; */
}

.slider .Img {
  width: auto;
  height: 140px;
  filter: drop-shadow(0 0 0.75rem #000);
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.slider .Img.hidden {
    opacity: 0;
    pointer-events: none;
}

.slider h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  color: black;
  filter: drop-shadow(0 0 0.75rem #000);
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.slider h2.hidden {
  opacity: 0;
  pointer-events: none;
}

.slider button {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.slider button:hover {
  border: 1px solid #000;
  color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s all ease-in-out;
}

footer {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

footer p {
  width: 50%;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  padding: 10px 0 0 0;
  margin: 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer span {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.651);
  margin: 0;
  padding: 0;
}

footer span a {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.651);
  cursor: pointer;
}

footer span a:hover {
  color: #000;
}

