/* FIRST ELEMENT*/
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 20vh;
    margin-top: 25px;
    padding: 20px 40px 20px 40px;
    width: 50%;
    height: auto;
    border-radius: 25px;
    background: rgb(223,46,99);
    background: linear-gradient(0deg, rgba(223, 46, 99, 0.4627992261357668) 0%, rgba(34, 193, 195, 0.4459925034466911) 100%);
    gap: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
} 
  
.intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px 20px 10px;
    width: 70%;
    height: auto;
}
  
.intro h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: black;
    filter: drop-shadow(0 0 0.75rem #fff);
    opacity: 1;
}
  
.intro .link {
    width: 200px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-align: center;
    padding: 10px 30px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
}
  
.intro .link:hover {
    border: 1px solid #000;
    color: #000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease-in-out;
}
  
.slider {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    width: 30%;
    height: auto;
    gap: 20px;
}
  
.slider .Img {
    width: auto;
    height: 140px;
    filter: drop-shadow(0 0 0.3rem #000);
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}
  
.slider .Img.hidden {
      opacity: 0;
      pointer-events: none;
}
  
.slider h2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    color: black;
    filter: drop-shadow(0 0 0.75rem #000);
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}
  
.slider h2.hidden {
    opacity: 0;
    pointer-events: none;
}
  
@media screen and (max-width: 880px) {
    .banner {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 20vh;
      margin-top: 25px;
      padding: 15px 15px;
      width: 100%;
      height: auto;
    }
    
    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 20px 0 20px 0;
      width: 100%;
      height: auto;
    }
  
    .intro h1 {
      font-size: 30px;
      width: 80%;
    }
  
    .slider h2 {
      font-size: 24px;
    }
  
    .slider {
      margin-top: 25px;
    }
  
    .intro .link {
      width: 80%;
      height: auto;
      border: 1px solid rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      background-color: transparent;
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      cursor: pointer;
      text-align: center;
      padding: 10px;
    }
}
  
@media screen and (max-width: 630px) {
    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 20vh;
      margin-top: 25px;
      padding: 15px 15px;
      width: 90%;
      height: auto;
    }
}
  
@media screen and (max-width: 300px) {
    .intro h1 {
      font-size: 22px;
    }
  
    .slider h2 {
      font-size: 18px;
    }
}

/* END OF FIRST ELEMENT */

/* SECOND ELEMENT */

/* HEROES */
.heroes {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0 25px 0;
    padding: 0;
    width: 50%;
    height: auto;
    gap: 10px;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* HERO MULTIPLE */
.hero-multiple {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 50%;
    height: auto;
    gap: 10px;
}

.hero-multiple .Img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    padding: 5px;
}

.hero-multiple h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: black;
    filter: drop-shadow(0 0 0.75rem #fff);
    opacity: 1;
    padding: 0 10px 0 20px;
    width: 100%;
    text-align: center;
}

.shop-now-btn {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    height: auto;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 0 0 20px 20px;
    place-self: left;
    justify-self: start;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.shop-now-btn:hover {
    color: black;
}

/* HERO SINGLE */
.hero-single {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 50%;
    height: auto;
    gap: 0;
    border-radius: 20px;
    background: rgb(223,46,99);
    background: linear-gradient(0deg, rgba(223, 46, 99, 0.4627992261357668) 0%, rgba(34, 193, 195, 0.4459925034466911) 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.tags-hero-single {
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    gap: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.hero-single .Img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    padding: 5px;
}

.hero-single h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color: black;
    filter: drop-shadow(0 0 0.75rem #fff);
    opacity: 1;
    padding: 0 10px 0 20px;
    width: 100%;
    text-align: center;
}

.hero-single p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color: black;
    filter: drop-shadow(0 0 0.75rem #fff);
    opacity: 1;
    padding: 0 10px 0 20px;
    width: 100%;
}

.cart-wishlist-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 0;
}

.add-to-cart-btn {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    height: auto;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgba(34, 193, 195, 0.75);
    color: white;
    padding: 10px;
    border-radius: 0 0 0 20px;
    place-self: left;
    justify-self: start;
    cursor: pointer;
    width: 50%;
}

.add-to-cart-btn:hover {
    background-color: rgba(34, 193, 195, 1);
}

.add-to-wishlist-btn {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    height: auto;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgba(223, 46, 99, 0.75);
    color: white;
    padding: 10px;
    border-radius: 0 0 20px 0;
    place-self: right;
    justify-self: end;
    cursor: pointer;
    width: 50%;
}

.add-to-wishlist-btn:hover {
    background-color: rgba(223, 46, 99, 1);
}